{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/chiyo-paper.myshopify.com/products/configure/198295/edit
{% endcomment %}
{% if product.metafields.custom_fields["card_paper"] != blank %}
  <div class="custom-field custom-field__card-paper custom-field__type--text-list">
    <h3 class="custom-field--title">使用している紙について</h3>
    <div class="custom-field--value">  
      {{ product.metafields.custom_fields["card_paper"] }}
    </div>
  </div>
{% endif %}