{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/chiyo-paper.myshopify.com/products/configure/170963/edit
{% endcomment %}
{% if product.metafields.custom_fields["card_print"] != blank %}
  <div class="custom-field custom-field__card-print custom-field__type--text-list">
    <h3 class="custom-field--title">印刷について</h3>
    <div class="custom-field--value">  
      {{ product.metafields.custom_fields["card_print"] }}
    </div>
  </div>
{% endif %}